@{
    ViewData["Title"] = "About Page";
}
<!-- start page-title -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <h2>About us</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>About us</li>
                </ol>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end page-title -->
<!-- start about-us-section -->
<section class="about-us-section-s3 section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-4">
                <div class="feature-grids clearfix">
                    <div class="grid">
                        <div class="img-holder">
                            <img src="https://img.freepik.com/premium-photo/picture-factory-with-word-l-it_1322386-14827.jpg?w=740" alt>
                        </div>
                        <h3>01. Lorem Ipsum</h3>
                    </div>
                    <div class="grid">
                        <div class="img-holder">
                            <img src="https://img.freepik.com/premium-photo/worker-orange-vest-is-standing-front-factory_1282156-1209.jpg?w=740" alt>
                        </div>
                        <h3>02. Dolor Sit Amet</h3>
                    </div>
                    <div class="grid">
                        <div class="img-holder">
                            <img src="https://img.freepik.com/premium-photo/offshore-oil-rig-platform-sunset-oil-gas-industry-energy-production-sea-ocean_174533-104109.jpg?w=740" alt>
                        </div>
                        <h3>03. Consectetur Adipiscing</h3>
                    </div>
                    <div class="grid">
                        <div class="img-holder">
                            <img src="https://img.freepik.com/premium-photo/worker-orange-vest-stands-front-factory-with-large-industrial-plant-backgro_1282156-1183.jpg?w=740" alt>
                        </div>
                        <h3>04. Elit Services</h3>
                    </div>
                </div>
            </div>
            <div class="col col-md-8">
                <div class="about-area">
                    <div class="section-title">
                        <span>About Us</span>
                        <h2>Lorem <span>ipsum dolor</span> amet</h2>
                    </div>
                    <div class="details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                        <div>
                            <h4><i class="ti-arrow-circle-right"></i>Lorem Services</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet libero sit amet ante varius, a pharetra erat efficitur.</p>
                        </div>
                        <div>
                            <h4><i class="ti-arrow-circle-right"></i>Amet Solutions</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget consectetur sagittis, nisl nunc aliquet nisl, sit amet tincidunt nisi nunc eu odio.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end about-us-section -->
<!-- start why-choose-us-section -->
<section class="why-choose-us-section why-choose-faq-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="inner-area">
                    <div class="section-title">
                        <span>Why Choose Us</span>
                        <h2>Over 37 years of <span>industry expertise</span></h2>
                    </div>
                    <div class="details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="skills">
                            <div class="skill">
                                <h6>lorem</h6>
                                <div class="progress">
                                    <div class="progress-bar" data-percent="85"></div>
                                </div>
                            </div>
                            <div class="skill">
                                <h6>lorem</h6>
                                <div class="progress">
                                    <div class="progress-bar" data-percent="95"></div>
                                </div>
                            </div>
                            <div class="skill">
                                <h6>lorem</h6>
                                <div class="progress">
                                    <div class="progress-bar" data-percent="92"></div>
                                </div>
                            </div>
                            <div class="skill">
                                <h6>lorem</h6>
                                <div class="progress">
                                    <div class="progress-bar" data-percent="95"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="section-title">
                    <span>FAQ</span>
                    <h2>Frequently Asked <span>Questions</span></h2>
                </div>
                <div class="faq-section">
                    <div class="panel-group faq-accordion theme-accordion-s1" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true">Lorem ipsum dolor sit amet?</a>
                            </div>
                            <div id="collapse-1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">Sed ut perspiciatis unde omnis iste natus error?</a>
                            </div>
                            <div id="collapse-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-3">Ut enim ad minima veniam?</a>
                            </div>
                            <div id="collapse-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end why-choose-us-section -->
