@{
    ViewData["Title"] = "Home Page";
}

<!-- start of hero -->
<section class="hero-slider hero-style-3">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-inner slide-bg-image" data-background="https://img.freepik.com/free-photo/refinery-illuminates-dusk-with-fuel-storage-tanks-generated-by-ai_188544-40141.jpg?t=st=1728359388~exp=1728362988~hmac=f03f4325578016138a917b6597adb7a51a89a98e8c455e81841a98baa592ea70&w=1060">
                    <div class="container">
                        <div data-swiper-parallax="300" class="slide-title">
                            <h2><span>Lorem Ipsum</span> Dolor Sit Amet</h2>
                        </div>
                        <div data-swiper-parallax="400" class="slide-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                        </div>
                    </div>
                </div> <!-- end slide-inner -->
            </div> <!-- end swiper-slide -->

            <div class="swiper-slide">
                <div class="slide-inner slide-bg-image" data-background="https://img.freepik.com/free-photo/oil-platform-ocean-with-sun-setting-it_123827-23498.jpg?t=st=1728359369~exp=1728362969~hmac=db81cb1660467613dd853aed3065e0bebdedf907706fa6efa7cbb39b4122c7cf&w=900">
                    <div class="container">
                        <div data-swiper-parallax="300" class="slide-title">
                            <h2><span>Consectetur Adipiscing</span> Elit</h2>
                        </div>
                        <div data-swiper-parallax="400" class="slide-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div> <!-- end slide-inner -->
            </div> <!-- end swiper-slide -->

            <div class="swiper-slide">
                <div class="slide-inner slide-bg-image" data-background="https://img.freepik.com/premium-photo/large-oil-rig-is-water-puddle-with-lights_1122354-18201.jpg?w=1060">
                    <div class="container">
                        <div data-swiper-parallax="300" class="slide-title">
                            <h2><span>Lorem Ipsum</span> Dolor Sit Amet</h2>
                        </div>
                        <div data-swiper-parallax="400" class="slide-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                        </div>
                    </div>
                </div> <!-- end slide-inner -->
            </div><!-- end swiper-slide -->
        </div>
        <!-- end swiper-wrapper -->
        <!-- swipper controls -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>

<!-- end of hero slider -->
<!-- start about-us-section-s3 -->
<section class="about-us-section-s3 section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-4">
                <div class="feature-grids clearfix">
                    <div class="grid">
                        <div class="img-holder">
                            <img src="https://img.freepik.com/premium-photo/picture-factory-with-word-l-it_1322386-14827.jpg?w=740" alt>
                        </div>
                        <h3>01. Lorem Ipsum</h3>
                    </div>
                    <div class="grid">
                        <div class="img-holder">
                            <img src="https://img.freepik.com/premium-photo/worker-orange-vest-is-standing-front-factory_1282156-1209.jpg?w=740" alt>
                        </div>
                        <h3>02. Dolor Sit Amet</h3>
                    </div>
                    <div class="grid">
                        <div class="img-holder">
                            <img src="https://img.freepik.com/premium-photo/offshore-oil-rig-platform-sunset-oil-gas-industry-energy-production-sea-ocean_174533-104109.jpg?w=740" alt>
                        </div>
                        <h3>03. Consectetur Adipiscing</h3>
                    </div>
                    <div class="grid">
                        <div class="img-holder">
                            <img src="https://img.freepik.com/premium-photo/worker-orange-vest-stands-front-factory-with-large-industrial-plant-backgro_1282156-1183.jpg?w=740" alt>
                        </div>
                        <h3>04. Elit Services</h3>
                    </div>
                </div>
            </div>
            <div class="col col-md-8">
                <div class="about-area">
                    <div class="section-title">
                        <span>About Us</span>
                        <h2>Lorem <span>ipsum dolor</span> amet</h2>
                    </div>
                    <div class="details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                        <div>
                            <h4><i class="ti-arrow-circle-right"></i>Lorem Services</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet libero sit amet ante varius, a pharetra erat efficitur.</p>
                        </div>
                        <div>
                            <h4><i class="ti-arrow-circle-right"></i>Amet Solutions</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget consectetur sagittis, nisl nunc aliquet nisl, sit amet tincidunt nisi nunc eu odio.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>

<!-- end about-us-section-s3 -->
<!-- start contact-section -->
<section class="contact-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="left-col">
                    <div class="img-holder">
                        <img src="https://img.freepik.com/free-photo/environmental-pollution-industry-exterior-daylight_23-2149057694.jpg?t=st=1728359563~exp=1728363163~hmac=a4ad2f95f0b41564fb4904c7f748470347677414481e2152e7d780cbd29b7e8f&w=740" alt>
                        <div class="call-back">
                            <h3>500+</h3><span>Lorem <br>Ipsum</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="contact-form">
                    <div class="section-title">
                        <span>Contact Us</span>
                        <h2>Get in Touch, <span>Lorem Ipsum Dolor Sit</span></h2>
                    </div>
                    <form method="post" class="contact-validation-active" id="contact-form-main">
                        <div>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Name*">
                        </div>
                        <div>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email*">
                        </div>
                        <div>
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone*">
                        </div>
                        <div>
                            <select name="subject" class="form-control">
                                <option disabled="disabled" selected>Contact Subject</option>
                                <option>Subject 1</option>
                                <option>Subject 2</option>
                                <option>Subject 3</option>
                            </select>
                        </div>
                        <div class="fullwidth">
                            <textarea class="form-control" name="note" id="note" placeholder="Message..."></textarea>
                        </div>
                        <div class="submit-area">
                            <button type="submit" class="submit-btn">Submit Now</button>
                            <div id="loader">
                                <i class="ti-reload"></i>
                            </div>
                        </div>
                        <div class="clearfix error-handling-messages">
                            <div id="success">Thank you</div>
                            <div id="error">Error occurred while sending message. Please try again later.</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>

<!-- end contact-section -->
<!-- start testimonials-section-s2 -->
<section class="testimonials-section-s2 section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="testimonial-grids testimonials-slider-s2">
                    <div class="grid">
                        <div class="client-info">
                            <div class="client-pic">
                                <img src="https://img.freepik.com/free-photo/portrait-man-laughing_23-2148859448.jpg?t=st=1728359829~exp=1728363429~hmac=48144d24f82acc0bd08585535e3e7fa3b499e35f534a564eedb9843ae04e4f90&w=740" alt>
                            </div>
                            <h4>Jane Doe</h4>
                            <span>CEO of LoremCorp</span>
                        </div>
                        <div class="client-quote">
                            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in.”</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="client-info">
                            <div class="client-pic">
                                <img src="https://img.freepik.com/free-photo/portrait-modern-man_23-2147961425.jpg?t=st=1728359771~exp=1728363371~hmac=c0069d08ac792eee2ad30a656f8ebfc72293e7d2ccc78f74d42a040213c340b0&w=740" alt>
                            </div>
                            <h4>John Smith</h4>
                            <span>Director at Ipsum Ltd</span>
                        </div>
                        <div class="client-quote">
                            <p>“Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.”</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="client-info">
                            <div class="client-pic">
                                <img src="https://img.freepik.com/free-photo/confident-young-man-with-his-arms-crossed-standing-beach_23-2148103078.jpg?t=st=1728359798~exp=1728363398~hmac=3804a011439affdeb212910b063e1f0ec0aa18ab315bddd7e9c29ddbf1faa377&w=740" alt>
                            </div>
                            <h4>Mary Johnson</h4>
                            <span>Manager of Ipsum Co</span>
                        </div>
                        <div class="client-quote">
                            <p>“Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.”</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>

<!-- end testimonials-section-s2 -->